*, html, body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif; /* prevent horizontal scrolling*/
}

header {
    width: 100%;
    background-color: #51291E;
    color: #EDF4ED;
    position: fixed;
    /* display: flex;
    justify-content: space-evenly;
    justify-items: center; */
    z-index: 200; /*ensure it's on top of other content */
}

.brand {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-transform: capitalize;
    font-size: 1.2em;
    margin-right: 20px;
}

.brand-name {
    color: #EDF4ED;
    font-weight: 700;
}

.brand-name-h {
    color: #79B791;
    font-weight: 1000;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}

.navigator {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.navigator li {
    margin-right: 20px;
}

.navigator li:last-child {
    margin-right: 0;
}

.navigator a {
    color: white;
    text-decoration: none;
    padding: 16px;
    transition: all 0.4s ease-in-out;
}

.navigator a:hover {
    background-color: #301014;
    border-radius: 5px;
    cursor: pointer;
    /* transform: scale(1.05); */
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 5px;
}

.search-box button {
    padding: 8px 12px;
    background-color: #ABD1B5;
    color: #301014;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.search-box button:hover{
    transform: scale(1.05);
}

.user-info img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
}

.user-info a {
    color: whitesmoke;
    text-decoration: none;
    padding: 5px;
}

.navigator .active {
    color: #79B791;
    font-weight: bold;
}

main {
    padding: 100px;
}

.product-catalog {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    /* justify-content: space-between; */
}

.product-item {
    flex: 0 0 20%; /* Three values: flex-grow | flex-shrink | flex-basis */
    width: 200px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #51291E;
    border-radius: 5px;
    text-align: center;
}

.product-item img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: all 0.4s ease-in-out;
}

.product-item img:hover {
        transform: scale(1.05);
        cursor: pointer;
}

.product-item h3 {
    font-size: 18px;
    color: #666;
    margin-bottom: 15px;
}

.product-item button {
    padding: 10px 20px;
    background-color: #51291E;
    color: #EDF4ED;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* transition: all 0.3s ease-in-out; */
    box-shadow: 0 7px #999;
}

.product-item button:hover {
    background-color: #301014;
    /* transform: scale(1.1); */
}

.product-item button:active{
    background-color: #301014;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

footer {
    background-color: #51291E;
    color: whitesmoke;
    padding: 20px 20px;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
}

.contact {
    display: block;
}

.footer-section {
    flex: 1;
    margin-bottom: 20px;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section.about .contact {
    margin-top: 10px;
}

.social a {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: whitesmoke;
    color: #301014;
    text-align: center;
    line-height: 30px;
    margin-right: 10px;
    margin-top: 10px;
    border-radius: 50%;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    font-size: 14px;
}

.links {
    text-decoration: none;
    list-style-type: none;
}

.links a {
    color: whitesmoke;
    text-decoration: none;
    transition: all 0.2s ease-in-out;

}

.links a:hover {
    color: #79B791;

}

.links li {
    margin-bottom: 3px;
}

.form-contact {
    height: 100%;
    width: 100%;
    display: grid;
}

/* .form-contact>* {
    flex:0 0 10% ;
} */
